*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul li a {
    color:rgb(234, 191, 20);
    font-weight: 600;
}
ul li a:hover{
    color:rgb(193, 155, 3);
}
.h1{
    font-size: 5rem;
}
.lead {
    font-size: 22px;
    letter-spacing: 1px;
}
.about{
    letter-spacing: 1.3px;
    line-height: 37px;
    
}
.skills{
    border: 1px solid white;
}
i {
    font-size: 2rem;
}
.contact{
    text-decoration: none;
    
}