*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    padding-right: 5rem;
}
ul li{
    margin-right: 50px;
}

ul li a {
    color:rgb(234, 191, 20);
    font-weight: 600;
}
ul li a:hover{
    color:rgb(193, 155, 3);
}
.h1{
    font-size: 5rem;
}
.lead {
    font-size: 22px;
    letter-spacing: 1px;
}
.about{
    letter-spacing: 1.3px;
    line-height: 37px;
    
}
.skills,.contact-inf,.courses{
    border: 1px solid white;
}
i {
    font-size: 2rem;
}
.contact{
    text-decoration:underline;
    
}

@media screen and (max-width: 768px) {
    .h1{
        margin-top: 100px;
        font-size:3rem;
    }
    ul{
        margin-left: -15px;
    }
    ul li{
        margin-right: 25px;
    }
    img{
        display:none;
    }
    .lead{
        font-size: 20px;
        letter-spacing: 0;

    }
}